<h1>login</h1>
<form class="" action="/login" method="post">
  <label for="">email</label>
  <input type="email" name="email" value=""><br>

  <label for="">password</label>
  <input type="password" name="password" value=""><br>

  <p>
    <input type="submit" name="" value="log in">
  </p>
</form>
