<h1>signup</h1>

<form class="" action="/signup" method="post">
  <label for="">First name</label>
  <input type="text" name="first_name" value="">

  <label for="">last name</label>
  <input type="text" name="last_name" value="">

  <label for="">email</label>
  <input type="email" name="email" value="">

  <label for="">password</label>
  <input type="password" name="password" value="">
  <p>
  <input type="submit" name="" value="">
  </p>
</form>
